body.page-home {

	display: block;

	.home-description {

		width: 100%;
		//max-width: 480px;
		margin: 12px auto;
		text-align: center;

		.slogan {
			color : #888;
			font-size: 20px;
			text-transform: lowercase;
			font-style: italic;
			font-family: "LatoBold",sans-serif;
		}

	}

	.home-services {

		margin: 20px auto;

		.here-with-you {
			text-align: left;
		}

		ul.service-panels {

			text-align: left;
			list-style: none;
			padding: 0;

			li.service-panel {

				position: relative;
				list-style: none;
				width: 30%;
				margin: 0 10px 0 0;
				display: inline-block;
				text-align: left;
				padding: 5px;
				border: 1px solid #ddd;
				.box-shadow(2px 2px 10px #aaa);
				.gradient(#ccc,#efe);
				height: 180px;
				vertical-align: top;

				@media (max-width: 580px) {
					display: block;
					width: 250px;
					margin: 10px auto;
				}

				.highlight-word {
					text-align: left;
					display: inline;
					font-size: 16px;
					height: 32px;
					color: #000;
					font-weight: bold;
					margin: 1px 0;
					line-height: 18px;
					text-transform: uppercase;
				}

				small {
					font-size: 13px;
					display: block;
				}

				em {
					position: absolute;
					bottom: 24px;
					font-size: 13px;
					margin-right: 5px;
				}

				label.readmore {

					display: block;
					text-align: right;
					background: transparent;
					font-size: 11px;
					font-weight: bold;
					position: absolute;
					bottom: 2px;
					right: 5px;

					a {
						color : @bizcare-red-deep;
					}
				}

			}

		}

	}

	.feeds-panel, .contact-panel {
		width: 250px;
		margin: 0 auto;
	}

    .fb-like-box {
        height: 380px;
    }

}