body.page-team {

	table.team-members-list {
		
		td.image-cell {

			img.member-img {
				width: 60%;
				margin: 0 0 0 auto;
			}
			
		}

		td.details-cell {

			padding-left: 15px;

			big {
				display: block;
				font-size: 36px;
				font-weight: bold;
			}

			small {
				display: block;
				font-size: 24px;
			}

		}


	}

}