// Data List <dl>
// *******************************************************************/
dl.dl-horizontal.dl-narrow {
	dt {width: 80px;}
	dd {margin-left: 90px;}	
}

@media (max-width: 767px) {
	dl.dl-horizontal.dl-narrow {
		dt {width: auto;}
		dd {margin-left: 0;}
	}
}

