// Form Info Text Block
// *******************************************************************/
.form-group .help-block.info-text {
	color: #555;
	font-size: 11px;
}
.error-block {
	display: block;
	color:#a94442;
}

