// Mobile Container
// *******************************************************************/
.mobile-container {
	width: 100%;
	max-width: 480px;
}




// Mobile 480px Visibility & Hidden
// *******************************************************************/
.visible-xxs {display: none !important;}
@media (max-width: 480px) {
	.visible-xxs {display: block !important;}
	.hidden-xxs {display: none !important;}

	a.visible-xxs {display: inline !important;}
	table.visible-xxs {display: table;}
	tr.visible-xxs {display: table-row !important;}
	th.visible-xxs,
	td.visible-xxs {display: table-cell !important;}
}


