// Navbar
// *******************************************************************/
.navbar.navbar-centered {
	text-align: center;

	ul.navbar-nav {
		width:100%; 
		display: block;

		li {
			float: none; 
			display: inline-block;
			width: auto;
		}
	}
}


