// Panel
// *******************************************************************/
// mixing -> .panel-variant(@border; @heading-text-color; @heading-bg-color; @heading-border);
.panel-transparent {
	background: transparent;
}
.panel-navy {
	.panel-variant(#114; #ddd; #114; #114);
	color: #333;	
}
.panel-grey {
	.panel-variant(#777; #ddd; #888; #777);
	color: #333;
}

