// Tabs
// *******************************************************************/
.nav-tab-beautify li.active a,
.tab-beautify {
	background: #efe;
	border: 1px solid #777;
}
.nav-tab-beautify li.active {
	a, a:hover, a:focus {
		border: 1px solid #777;
		border-bottom: 1px solid #999;
		background: #999;
		color:#ddd;
	}
}

