// Typography
// *******************************************************************/
.text {
	&-block {display: block;}
	&-size-xs {font-size: 12px; }
	&-size-sm {font-size: 14px; }
	&-size-md {font-size: 17.5px; }
	&-size-lg {font-size: 20px; }
	&-uppercase {text-transform: uppercase;}
	&-lowercase {text-transform: lowercase;}
}


