
.da-slider{
	background: transparent url(../img/_libs/da-slider/waves.gif) repeat 0% 0%;
}
.da-arrows span:after{
	background: transparent url(../img/_libs/da-slider/arrows.png) no-repeat top left;
}
