
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {background-image: url('fancybox_sprite.png');}
#fancybox-loading div {background: url('../img/_libs/fancybox/fancybox_loading.gif') center center no-repeat;}
.fancybox-nav {background: transparent url('../img/_libs/fancybox/blank.gif'); /* helps IE */}
.fancybox-overlay {background: url('../img/_libs/fancybox/fancybox_overlay.png');}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5) {

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {background-image: url('../img/_libs/fancybox/fancybox_sprite@2x.png');}
	#fancybox-loading div {background-image: url('../img/_libs/fancybox/fancybox_loading@2x.gif');}
}
