// BreadCrumbs
//*****************************************************************/
.breadcrumb {
	background: transparent;
	border: 0;
	
	li {
		&.active {
			color: #aaa;
		}
		a {
			color: #333;
		}

	}

	> li + li:before {
		content: " >> ";
		color: #888;
	}

}