// NavBar Labels
//*****************************************************************/
.navbar-nav > li > a {
	&.label {
		padding: 0 2px;
		margin: 15px 0;
		color:#eee;
	}
	&.label-feedback {
		background-color:#ddd;
		color:#333;
		
		&:hover {
			background-color:#bba;
			color:#444;
		}

		@media (max-width: 767px) {
			display: inline;
			margin: 15px;
		}
	}
}	
