// Panels
//*****************************************************************/
.panel {
	background: transparent;
	.panel-body {
		background: #fff;
	}
}


// Panels with Collapse
//*****************************************************************/
.panel a[data-toggle="collapse"] {
	color: #333;
	display: block;
}