.img-square (@size) {
	width: @size;
	height: @size;
}

img.img-sqr-xs  {.img-square (16px)}
img.img-sqr-sm  {.img-square (32px)}
img.img-sqr-md  {.img-square (48px)}
img.img-sqr-lg  {.img-square (64px)}
img.img-sqr-xlg {.img-square (128px)}