body.event-conf-expo-2017 {

    .event-conf-wrapper {
        position: relative;
    }
    .conf-csr-imgs {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .conf-csr-imgs:first-child {
        position: relative;
    }
    .conf-csr-imgs.active {
        z-index: 11;
    }

}