body {
	font-size: 14px;
	font-family: "Open Sans",sans-serif;
	background: @bizcare-body;
}

.vertical-divider-left {
	border-left: 1px solid #888;
}
.vertical-divider-right {
	border-right: 1px solid #888;
}

.container {
	max-width: 970px;
}

.bizcare-question {
	color : @bizcare-grey;
	font-size: 32px;
	font-weight: bold;
	text-align: right;
}

.here-with-you {
	color: @bizcare-red;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	margin: 0 auto 20px;
}

.header-article {
	color: @bizcare-red;
}

.panel-header-highlight {
	color: @bizcare-red;
	font-size: 20px;
	font-weight: bold;
}

.favicon-placeholder {
	position: relative;
}
.favicon-corner {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 75px;
}

#header-section {

	.top-gutter {
		height: 30px;
		display: block;
		background: @bizcare-grey;
	}

	.top-gradient {
		.gradient (@bizcare-light-grey, @bizcare-body);
		// .gradient (@startColor: #bbb, @endColor: white);
	}

	img.site-logo {
		margin-top: -7px;
	}

}

#main-menu-container {
	
	margin-top : 10px;

	.navbar.navbar-default {
		background: transparent;
		border: 0;
		margin-right: 15px;

		ul.nav {

			li {

				margin: 0 5px;

				a {
					color : @bizcare-red;
					padding:  5px 10px;
					.transition(all .3s ease-in);
					font-weight: bold;

					&:hover {
						color: @bizcare-red-deep;
						.scale(1.1);
						@media (max-width: 767px)  {
							.scale(1);
						}
					}
				}


				&.active > a {
					background: @bizcare-red;
					.border-radius(5px);
					border: 1px solid @bizcare-red-deep;
					color : #fff;
					font-weight: 300;

					&:hover {
						background: @bizcare-red-deep;
					}
				}

				@media (min-width: 768px) {

					&.dropdown:hover:not(.open) ul.dropdown-menu {

						display: block;

						li a:hover {
							background: transparent;
						}
					}
				}
			}

		}
	}
}

#footer-section {

	margin-top: 32px;
	color: #eee;
	height: 30px;
	line-height: 30px;
	background: @bizcare-red;

	p {
		margin: 0;
	}
	
	.developed-by {
		font-size : 10px;
		a {
			color : #bbb;
		}
	}
}