.toggle-form.toggle-form-view-mode,
.toggle-form.toggle-form-edit-mode {display: block;}

.toggle-form.toggle-form-view-mode .toggle-form-view {display: block;}
.toggle-form.toggle-form-view-mode .toggle-form-edit {display: none;}

.toggle-form.toggle-form-edit-mode .toggle-form-edit {display: block;}
.toggle-form.toggle-form-edit-mode .toggle-form-view {display: none;}